@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sora:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(14, 15, 26);
  overflow-x: hidden;
}
/* .test {
  position: absolute;
  pointer-events: none;
} */

/* canvas {
  position: absolute;
  top: 0;
  left: 0;
} */

.gradient-text {
  background: linear-gradient(90deg, #F87516 0%, #5E11FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.footer-gradient {
  background: linear-gradient(90deg, #F87516 0%, #5E11FF 100%);
}
.button-gradient {
  background: linear-gradient(90deg,  #5E11FF 0%, #F87516 100%);
}
