@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sora:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.gradient-text {
  background: linear-gradient(90deg, #F87516 0%, #5E11FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.footer-gradient {
  background: linear-gradient(90deg, #F87516 0%, #5E11FF 100%);
}
.button-gradient {
  background: linear-gradient(90deg,  #5E11FF 0%, #F87516 100%);
}

.card-background {
  background: linear-gradient(180deg, #0d061f 0%, #251e35 100%);
  border: solid 2px;
  border-color: #ffffff10;
  border-radius: 20px;
}